/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(247,83%,65%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

/* Texto */
h1, h2 {
    margin: 10px 0;
    color: #333;
}

/* Menú de formularios */
.menu-formularios p {
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.menu-formularios ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.menu-formularios a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #007BFF;
    transition: all 0.3s;
    border: 1px solid #007BFF;
    display: inline-block;
    min-width: 120px;
    text-align: center;
}

.menu-formularios a:hover {
    background-color: white;
    color: #007BFF;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
/* Tabla */

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #c2fdfd;
}